# Archivos de dependencias y builds
/node_modules
/dist
/build

# Archivos de entorno y secretos
# ¡NUNCA subas este archivo a GitHub!
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db